input, label {
    display: block;
}

input {
    margin-bottom: 10px;
}

input[type=text] {
    width: 100%;
}

em {
    white-space: nowrap;
    font-style: normal;
    color: #33F;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #999;
    padding: 5px;
    text-align: center;
}

.left {
    text-align: left;
}

.gray {
    color: #999;
}

.error {
    margin-right: 5px;
    margin-left: 5px;
    color: #F00;
}

